/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

/* Common */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.footer-social-link:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social-link:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button:disabled {
  color: #e7e7e7;
  background-color: #595959;
}

.button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
}

.button + .button {
  margin-left: 16px;
}

.button-all{
  padding-right: 44px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 20px;
}

/* Light */
.button-feedback {
  color: #242424;
  background-color: #ffffff;
}

.button-feedback:hover {
  background-color: #dbb590;
}

.button-feedback:focus {
  outline: 2px solid #af7842;
  background-color: #dbb590;
}

/* Pages */
.page-header {
  color: #ffffff;
  background-color: #000000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover {
  background-color: #595959;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #dbdbdb
}

.navigation-link:hover .navigation-icon {
  fill: #242424;
}

.navigation-link:focus .navigation-icon {
  fill: #dbdbdb;
}

.navigation-link-login {
  padding-left: 44px;
}

.navigation-link-login .navigation-icon {
  right: auto;
  left: 20px;
  margin: auto 0;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 100px;
}

.main-container {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 60px;
}

.main-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-inner {
  padding-top: 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/bg-noisy.png");
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

/* Advantages */
/* List */
.advantages {
  margin-bottom: 58px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #ffffff;
}

/* Item */
.advantages-item {
  width: 277px;
}

/* Title */
.advantages-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 56px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.advantages-title::before {
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  background-color: #ffffff;
  content: "";
  transform: rotate(45deg);
}

/* Description */
.advantages-description {
  margin: 0;
}

/* Index columns */
.index-columns {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/bg-noisy.png");
}

.index-columns::after {
  content:'';
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 0;
  border-right: 1px dashed #595959;
}

.index-columns:first-of-type::after {
  left: 470px;
}

.index-columns:last-of-type::after {
  left: 430px;
}

.index-columns:last-child {
  margin-bottom: 0;
}

/* Services */
.services {
  width: 390px;
  text-transform: uppercase;
}

/* Title */
.services-title {
  margin: 0 0 28px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

/* Price */
.services-list {
  margin: 0 0 30px;
  padding: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  list-style-type: none;
}

.services-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}

.services-item::before {
  flex-grow: 1;
  order: 2;
  margin-right: 16px;
  margin-left: 16px;
  border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
  content: "";
}

.services-price {
  order: 3;
  color: #af7842;
}

/* Gallery */
.gallery {
  width: 390px;
}

/* Title */
.gallery-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Slider */
.slider-image {
  display: block;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 48px;
  height: 60px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  background-color: #814b18;
}

.slider-button:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-division {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-division-item {
  margin: 0 4px;
}

.slider-division-button {
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-division-button:hover {
  background-color: #af7842;
}

.slider-division-button:focus {
  background-color: #dbb590;
  outline: none;
}

.slider-division-button-current {
  background-color: #242424;
}

/* Contacts */
.contacts {
  width: 350px;
  font-weight: 700;
}

/* Title */
.contacts-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-address {
  font-style: normal;
}

/* Subtitle */
.contacts-subtitle {
  margin-top: 22px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #af7842;
}

.contacts-address-text {
  margin: 8px 0;
}

/* Phone */
.contacts-phone {
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
}

.contacts-schedule {
  margin: 8px 0;
  padding: 0;
  list-style-type: none;
}

.contacts-navigation {
  margin-top: 21px;
  margin-bottom: 0;
}

.appointment {
  width: 430px;
}

/* Appointment */
.appointment {
  width: 430px;
}

/* Title */
.appointment-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Form */
.appointment-form {
  display: grid;
  grid-template-columns: 114px 74px 208px;
  gap: 19px 17px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment-form  .info {
  display: none;
}

.field-group label,
.field-group input {
  display: block;
}

.form-label {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-info {
  color: #595959;
}

.appointment-form-name {
  grid-column: 1 / -1;
}

.appointment-submit {
  grid-column: 1 / -1;
  justify-self: start;
}

/* Footer */
.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #242424;
  background-image: url("../images/bg-noisy.png");
  background-repeat: repeat;
}

.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-footer a {
  color: #ffffff;
}

.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #dbb590;
}

.page-footer-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-logo {
  display: block;
  margin-bottom: 24px;
}

.footer-about-text {
  margin-top: 0;
  margin-bottom: 4px;
}

.footer-contacts-address {
  margin-bottom: 16px;
  font-style: normal;
}

.footer-contacts-address p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}

.footer-contacts-address-phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-contacts-map-link {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.newsletter-form {
  display: flex;
}

.newsletter-button {
  width: 56px;
  height: 44px;
  background-image: url("../images/arrow-tail-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social {
  margin-left: auto;
  max-width: 190px;
}

.footer-social p {
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 28px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  width: 56px;
  height: 44px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-tw {
  background-image: url("../images/social-tw.svg");
}

.footer-social-vk {
  background-image: url("../images/social-vk.svg");
}

.footer-social-instagram {
  background-image: url("../images/social-instagram.svg");
}

/* Inner Page */
.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #242424;
  list-style-type: none;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 32px;
  list-style-type: none;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 10px;
  right: -20px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  content: "";
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

/* Catalog */
.catalog-products {
  display: flex;
}

/* Filter */
.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-right-column {
  width: 700px;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

/* Label */
.control-label {
  font-weight: 700;
}

.sorting-container {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-type {
  margin-right: auto;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 44px;
  background-color: #000000;
}

.card-grid-toggle:hover {
  background-color: #814b18;
}

.card-grid-toggle:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.card-grid-toggle svg {
  fill: #ffffff;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
  fill: #ffffff;
}

.card-grid-toggle-current {
  color: #242424;
  background-color: #ffffff;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

/* Products */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin: 0 0 24px;
  padding: 0;
  list-style-type: none;
}

/* Item */
.product-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Link */
.product-card-title-link {
  margin-top: 16px;
  margin-bottom: 8px;
  text-decoration: none;
}

.product-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Title */
.product-card-title {
  font-weight: 700;
  color: #242424;
}

/* Price */
.product-card-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #814b18;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.product-card-button {
  margin-top: auto;
}

/* Pagination container */
.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}

/* Pagination */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Item */
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* Link */
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #814b18;
}

.pagination-link:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-prev {
  background-image: url("../images/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.pagination-next {
  background-image: url("../images/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-disabled {
  background-color: #595959;
}

/* Show more */
.pagination-show-more {
  margin-left: auto;
}

/* Without background */
.pagination-clear {
  margin-top: 24px;
  padding: 0;
  background-color: transparent;
}
