/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

/* Common */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/* Light */
.button-light {
  color: #242424;
  background-color: #ffffff;
}

/* Pages */
.page-header {
  color: #ffffff;
  background-color: #000000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-logo {
  width: 140px;
  margin-right: 100px;
}

.main-container {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 60px;
}

.main-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-inner {
  padding-top: 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/bg-noisy.png");
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

/* Advantages */
/* List */
.advantages {
  margin-bottom: 58px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #ffffff;
}

/* Item */
.advantages-item {
  width: 277px;
}

/* Title */
.advantages-title {
  margin-top: 0;
  margin-bottom: 56px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Description */
.advantages-description {
  margin: 0;
}

/* Index columns */
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/bg-noisy.png");
}

.index-columns:last-child {
  margin-bottom: 0;
}

/* Services */
.services {
  width: 390px;
  text-transform: uppercase;
}

/* Title */
.services-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

/* Price */
.services-list {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.services-price {
  color: #af7842;
}

/* Gallery */
.gallery {
  width: 390px;
}

/* Title */
.gallery-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Contacts */
.contacts {
  width: 350px;
  font-weight: 700;
}

/* Title */
.contacts-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-address {
  font-style: normal;
}

/* Subtitle */
.contacts-subtitle {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #af7842;
}

/* Phone */
.contacts-phone {
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
}

/* Appointment */
.appointment {
  width: 430px;
}

/* Title */
.appointment-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Form */
.appointment-form {
  display: grid;
  grid-template-columns: 114px 74px 208px;
  gap: 19px 17px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment-form  .info {
  display: none;
}

.field-group label,
.field-group input {
  display: block;
}

.form-label {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-info {
  color: #595959;
}

.appointment-form-name {
  grid-column: 1 / -1;
}

.appointment-submit {
  grid-column: 1 / -1;
  justify-self: start;
}

/* Footer */
.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #242424;
  background-image: url("../images/bg-noisy.png");
  background-repeat: repeat;
}

.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-footer a {
  color: #ffffff;
}

.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #dbb590;
}

.page-footer-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}

.footer-contacts-address-phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-contacts-map-link {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-social {
  margin-left: auto;
  max-width: 190px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

/* Inner Page */
.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #242424;
  list-style-type: none;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/* Catalog */
.catalog-products {
  display: flex;
}

/* Filter */
.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-right-column {
  width: 700px;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

/* Label */
.control-label {
  font-weight: 700;
}

.sorting-container {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-container button {
  width: 55px;
  height: 44px;
}

/* Products */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin: 0 0 24px;
  padding: 0;
  list-style-type: none;
}

/* Item */
.product-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Link */
.product-card-title-link {
  margin-top: 16px;
  margin-bottom: 8px;
  text-decoration: none;
}

.product-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Title */
.product-card-title {
  font-weight: 700;
  color: #242424;
}

/* Price */
.product-card-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #814b18;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.product-card-button {
  margin-top: auto;
}

/* Pagination container */
.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}

/* Pagination */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

/* Item */
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* Without background */
.pagination-clear {
  background-color: transparent;
}

/* Show more */
.pagination-show-more {
  margin-left: auto;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #595959;
}
